.navbar{
    box-sizing: border-box;
    height: 50px;
    background-color: rgb(70, 63, 165);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
    align-content: center;
    padding-left: 20px;
    justify-items: center ;
    padding-right: 50px;
    grid-gap: 20px;
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 300px 1fr;
}
.contact{
    grid-column: 4/-1;
    justify-self: end;
}
a{
    text-decoration: none;
    color: white;
}
.banner{
    height: 300px;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    align-content: center;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag:none;
}
.background{
    background: linear-gradient(to right,rgb(173, 173, 220),white);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(400px,1fr));
    grid-gap: 50px;
    padding: 50px;
    justify-content: center;
    align-content: center;
}
.icons{
    height: 100px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag:none;
}
.backdrop{
    display: grid;
    background-color: rgb(35, 41, 65);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    justify-items: center;
    align-content: center;
    justify-self: center;
    box-sizing: border-box;
    transition: .3s;
}
.backdrop:hover{

    transform: rotate(-10deg);

}
.backdrop::after{
    content: "";
    border: solid 3px rgb(35, 41, 65);
    height: 266.6666666666667px;
    width: 200px;
    transition: .3s;
    position: absolute;
    align-self: center;
    border-radius: 10px;
}
.backdrop:hover:after{
    transform: scale(1.55);
}

.footer{
    height: 50px;
    background-color: rgb(70, 63, 165);
    text-align: center;
    font-size: 20px;
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cover{
    height: 200px;
}
p{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}